.portfolio-status-badge {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  flex-shrink: 0;
}

.portfolio-status-badge-small {
  width: 8px;
  height: 8px;
}

.portfolio-status-badge-medium {
  width: 12px;
  height: 12px;
}

.portfolio-status-badge-large {
  width: 16px;
  height: 16px;
}

